<div class="container">
  <div class="row" style="margin-top: 2%" id="pubs">
    <h3>Competitions</h3>
  </div>
  <ul>
  <div class="row">
    <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>2nd Place at Brain-Score Competition - Feb.22</b><br>
        <em>Neuroscience, Primate Object Recognition, Vision Transformers</em><br>
        Organized by Brain-Score Team (MIT) and sponsored by MIT Quest for Intelligence, C-BRIC and MIT-IBM Watson AI Lab<br>
        Awarded by $1250<br>        
        <a href="http://www.brain-score.org/competition/">[Competition]</a><a href="https://williamberrios.github.io/">[Code in Progess]</a><br>
      </div>
    </li>
  </div>
 

  <div class="row">
    <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>1st Place at BCI Machine Learning Competition - Dec.21</b><br>
        <em>Tabular competition, boosting models, big data</em><br>
        Rank 1/400 participants (15+ countries).<br> Awarded by $3600. <br>
        <a href="https://binnario.ai/challenge/-MoYqGyQ_I1QvJT_Ezqg">[Competition]</a> <a href="https://github.com/williamberrios/BCI-Challenge-2021">[Code]</a><br>
      </div>
    </li>
  </div>
  <div class="row">
    <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>Silver Medal at Ventilator Pressure Prediction Competition - Oct.21</b> <br>
        <em>Time series competition, Deep Learning, LSTM's</em><br>
        Top 5% - Organized by Google Brain and Kaggle. <br>
        <a href="https://www.kaggle.com/c/ventilator-pressure-prediction/data">[Competition]</a> <a href="https://github.com/williamberrios/Google-Brain-Ventilator-Pressure">[Code]</a> <br>
      </div>
    </li>
    </div>

    <div class="row">
      <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>1st Place at BNP Machine Learning Competition - May.21</b> <br>
        <em>Text Data, Deep Learning, Transformers</em><br>
        Rank 1/100 data scientists from LATAM <br>
        Organized by BNP Paribas Cardiff and Domino DataLab <br>
        <a href="https://williamberrios.github.io/projects/1_project/">[Description]</a> <a href="https://github.com/williamberrios/BNP-Paribas-Cardif-Challenge">[Code]</a> <br>
      </div>
    </li>
    </div>
    <!--
    <div class="row">
      <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>1st Place at WIDS Bay Area Datathon</b> <br>
        Organized by WIDS (Standford) and Google Cloud team<br>
      </div>
    </li>
    </div>
    -->
    <div class="row">
      <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b> 2nd Place at International Interbank Datathon - Feb.21</b> <br>
        <em>Tabular competition, boosting models</em><br>
        Rank 2/229 data scientists.  Organized by Interbank - Peru<br>
        Awarded by $6000 dollars<br>
      </div>
    </li>
    </div>
    
    <div class="row">
      <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b> 1st Place at BanColombia Datathon - Jan.21</b> <br>
        <em>Tabular competition, boosting models</em><br>
        Rank 1/80 teams - LATAM. Organized by Group BanColombia<br>
        Awarded by $2000 dollars<br>
      </div>
    </li>
    </div>
  </ul>

  </div>
<!--
  <h2 id="research-interests">research interests</h2>

  <ul>
    <li>statistics and Machine Learning <img class="emoji" title=":desktop_computer:" alt=":desktop_computer:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f5a5.png" height="20" width="20">
      <ul>
        <li>sparse Methods and Regularization</li>
        <li>multivariate Analysis</li>
        <li>latent variable models</li>
        <li>optimization and algorithms</li>
      </ul>
    </li>
    <li>applications to life sciences <img class="emoji" title=":seedling:" alt=":seedling:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f331.png" height="20" width="20"> <img class="emoji" title=":bee:" alt=":bee:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f41d.png" height="20" width="20">
      <ul>
        <li>ecology, environment</li>
        <li>metagenomics, metabolomics, genomics</li>
      </ul>
    </li>
    <li>reproducible research <img class="emoji" title=":gear:" alt=":gear:" src="https://github.githubassets.com/images/icons/emoji/unicode/2699.png" height="20" width="20">
  </li>
  </ul>
  
  
      </div>
-->