<div class="container">
  <div class="row" style="margin-top: 2%" id="pubs">
    <h3>Publications</h3>
  </div>
  <ul>
  <div class="row">
    <li>
      <div class="twelve columns" style="margin-top: 0%"><p>
        <b>2nd Place at Brain-Score Competition - Feb.22</b><br>
        <em>Neuroscience, Primate Object Recognition, Vision Transformers</em><br>
        Organized by Brain-Score Team (MIT) and sponsored by MIT Quest for Intelligence, C-BRIC and MIT-IBM Watson AI Lab<br>
        Awarded by $1250<br>        
        <a href="http://www.brain-score.org/competition/">[Competition]</a><a href="https://williamberrios.github.io/">[Code in Progess]</a><br>
      </div>
    </li>
  </div>
  </ul>
  </div>