<div class="container">
  <div class="row" style="margin-top: 2%" id="pubs">
    <h3>Publications</h3>
  </div>
  <!--  Publication of each paper-->
  <div class="row">
    <div class="col-md-2">
      <img class="img-fluid img-rounded" src="assets/img/Publications_Preprints/BrainScore_Transformer.png" alt="Sunflower" style="border:1px solid black">
    </div>
    <div class="col-md-9"><p>
      <b>Joint Rotational Invariance and Adversarial Training of a dual-stream Transformer yields state of the art Brain-Score for Area V4</b><br>
      <em><b>William Berrios</b>, Arturo Deza<br></em>
      Workshop on Attention and Transformers in Vision - CVPR 2022 | Under Review at NeurIPS<br>
      <a href="https://arxiv.org/abs/2203.06649">[Paper]</a><a href="https://github.com/williamberrios/BrainScore-Transformers">[Code]</a><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img class="img-fluid img-rounded" src="assets/img/Publications_Preprints/BI-LAVA.png" alt="Sunflower" style="border:1px solid black">
    </div>
    <div class="col-md-9"><p>
      <b>BI-LAVA: Biocuration Image Labeling through Active Learning and Visual Analysis</b><br>
      <em>Juan Trelles, <b>William Berrios</b>, Hagit Shatkay and G.Elisabeta Marai<br></em>

      Under Review at IEEE VIS 2022<br>
      <a href="https://williamberrios.github.io/">[Paper Coming]</a><br>
    </div>
  </div>



  </div>