---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
    <p class="desc">{{ page.description }}
    <!--<br><a class="home-info"><i class="far fa-envelope"></i> Email: wberriosr {at} uni . pe</a><br>
    -->
    </p>
    
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="clearfix">
      {{ content }}
      <a href="mailto: wberriosr@uni.pe">Email</a> / <a href="/assets/pdf/cv_berrios.pdf">Resume</a> / <a href="https://www.linkedin.com/in/williamberrios96/">LinkedIn</a> / <a href="https://github.com/williamberrios">GitHub</a> / <a href="https://twitter.com/w33lliam96">Twitter</a>
      <!--<p class="home-info"><i class="far fa-file"></i>
        Resume: <a target="_blank" href="/assets/pdf/cv_berrios_last.pdf">PDF</a>
       </p>
    -->
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}
    {% include preprints.html %}
    {% include competitions.html %}
    
    <!-- Selected publications 
    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
    -->
    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
